/* 1. reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 2. variaveis */

:root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --cor-fundo-1: #f7f7f7;
  --cor-fundo-2: #fff;
  --cor-texto: #000;
  --cor-subtitulo-rgba: rgba(0, 0, 0, 0.2);
  --onda: url(./img/onda-clara.svg);
}

/* 3. estilos gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cor-fundo-1);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 4. componentes */

.container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

/* 5. header */

.header {
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: 3.75rem;
  margin: 3.75rem auto;
}

.header-links {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.header-links li a {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: 0.3s;
  color: var(--cor-texto);
  background-color: var(--cor-fundo-2);
}

.header-links li a:hover {
  border-color: var(--cor-primaria);
}
